body{
    user-select: none;
}

.container-fluid h5{
text-align: center;
position: absolute;
right: 30;
top: 35;
}

.pic{
    align-items: center;
    display: flex;
    justify-content: center;
}
button{
    color: white;
    background: none;
    border-color: white;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 55px;
}

.card-body p{
    font-weight: bolder;
}

button{
    border-radius: 8%;
}

.card-header{
    font-weight: lighter;
}

ul{
    list-style-type: none;
}

li{
    float: left;
    padding-right: 20px;
}

.card-centre{
    text-align: center;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.size{
    height: 10vh;
    width: 20px;
}
.move{
    z-index: 100px;
    position: absolute;
    color: gray;
    right: 23%;
    cursor: pointer;
}

.modal-title{
    position: absolute;
    left: 2px;
    top: 10%;
}

.colorbutton{
    background: red;
}

.pic1{
    padding: 0px 0px;
    position: absolute;
    float: right;
    right: 1%;
}

.pic2{
    padding: 0px 0px;
    position: absolute;
    float: right;
    right: -13%;
}

.fb img{
    float: left;
    position: absolute;
    left: 3%;
}

.insta img{
    float: left;
    position: absolute;
    left: 6.5%;
}

.yt img{
    float: left;
    position: absolute;
    left: 10%;
}
